body{
  background-color: #eee;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

#regions_div path {
    stroke-width:1; /* control the countries borders width */
    stroke:#ffffff; /* choose a color for the border */
}
#regions_div path:hover {
    stroke-width:2; /* control the countries borders width */
    stroke:#711427; /* choose a color for the border */
    cursor: pointer;
}

#regions_div #child {
    margin: 0 auto;
}

.underlinemenu ul{
  padding: 6px 0 7px 0;
  margin: 0;
  text-align: center;
}

.underlinemenu ul li{
  display: inline;
}

.underlinemenu ul li a{
  color: gray;
  padding: 6px 3px 3px 3px; /*top padding is 6px, bottom padding is 4px*/
  margin-right: 10px; /*spacing between each menu link*/
  font: 15px "Trebuchet MS", sans-serif;
  text-decoration:none;
  border-bottom: 3px solid gray; /*bottom border is 3px*/
}

.underlinemenu ul li a:hover, .underlinemenu ul li a.selected{
  border-bottom-color: #00F;
  color:#000;
}

.jumbotron {
  padding-top: 20px;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.dropdown {
    float: right;
}

.axis path,
.axis line, 
.axis1 path,
.axis1 line {
  fill: none;
  stroke: #E6E7E8;
  shape-rendering: crispEdges;
}

.x.axis path, .x.axis1 path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.legend-box {
  cursor: pointer;  
}

#mouse-tracker {
  stroke: #E6E7E8;
  stroke-width: 1px;
}

.hover-line { 
  stroke: #E6E7E8;
  fill: none;
  stroke-width: 1px;
  left: 10px;
  shape-rendering: crispEdges;
  opacity: 1;
}

.hover-text {
  stroke: none;
  font-size: 15px;
  fill: #000000;
}

.tooltip {
  font-weight: normal;
}

.brush .extent {
  stroke: #FFF;
  shape-rendering: crispEdges;
}