<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
   <title>{{ dashboard_name }} | Police OSN</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap -->
   <script src="https://code.jquery.com/jquery.js"></script>
   <link href="{% static 'tool/css/bootstrap.min.css' %}" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'tool/css/basic.css' %}">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <script src="{% static 'tool/js/d3.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'tool/js/d3.layout.cloud.js' %}"></script>
   <script src="{% static 'tool/js/am_graph.js' %}"></script>
   <script src="{% static 'tool/js/m_cloud.js' %}"></script>
   <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script> -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
   <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="http://www.amcharts.com/lib/3/serial.js"></script>
  <script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
   <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['wordtree']}]}"></script>
   <script src="{% static 'tool/js/m_tree.js' %}"></script>

    <script src="{% static 'tool/js/morris.min.js' %}"></script>
   <script src="{% static 'tool/js/sentiment_chart.js' %}"></script>
   <script src="{% static 'tool/js/raphael.min.js' %}"></script>

</head>
<body style="padding-top: 20px;">
  <div class="underlinemenu" style="padding-left: 60px; padding-right:60px;">
      <ul>
        <li><a href="../../../home/" target="_self">Portal</a></li>
        <li><a href="../../../../index.html" target="_self">Home</a></li>
        <li><a href="../../../../research.html" target="_self">Research</a></li>
        <li><a href="../../../../people.html" target="_self">People</a></li>
        <li><a href="../../../../publications.html" target="_self">Publications</a></li>
        <li><a href="../../../../resources.html" target="_self">Resources</a></li>
        <li><a href="../../../../teaching.html" target="_self">Teaching</a></li>
        <li><a href="../../../../events.html" target="_self">Events</a></li>
        <li><a href="../../../../news.html" target="_self">News</a></li>
        <li><a href="../../../../blog" target="_self">Blog</a></li>
      </ul>

    </div>
  <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../../../home/">Police OSN</a>
      </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Change Dept <span class="caret"></span></a>
          <ul class="dropdown-menu scrollable-menu" style="overflow:scroll">
               {% autoescape off %}{{ pick_account }}{% endautoescape %}
          </ul>
        </li>
      </ul>
    </div>
    </div>
  </nav> -->
  <div class="thumbnail clearfix" style="margin-bottom:0px;margin-top:20px; padding-right:15px; padding-left:15px;margin-right: 70px; margin-left: 70px;">
      <div class="image-container pull-left" style="height:240px;">
        <img src={{ cover_image }} style="width: 800px;height: auto; position: absolute; clip: rect(0px,800px,240px,0px);" alt="" >
      </div>
      <div class="caption pull-right" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width:300px">
          <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Dept
             <span class="caret"></span></button>
             <ul class="dropdown-menu pull-right" style="height:200px; overflow:scroll">
               {% autoescape off %}{{ pick_account }}{% endautoescape %}
            </ul>
         </div>
          <h3 style="font-size:18px;margin-top: 70px;">{{dashboard_name}}</h3>
          <ul class="fa-ul">
            <li>
              <i class="fa fa-facebook-official"></i>  <a class="fb-name" href={{dept_link}} target="_blank">{{dept_fb_name}}</a>
            </li>
            <li >
              {% if dept_website != "" %}
              <i class="fa fa fa-external-link"></i>  <a href={{dept_website}} target="_blank">{{dept_website}}</a>
              {% endif %}
            </li>
            <li >
              {% if dept_tw_link != "" %}
              <i class="fa fa fa-twitter"></i>  <a href={{dept_tw_link}} target="_blank">{{dept_tw_name}}</a>
              {% endif %}
            </li>
            <li >
              {% if dept_phone != "" %}
              <i class="fa fa fa-phone"></i>  {{dept_phone}}
              {% endif %}
            </li>
            <li >
              {% if dept_likes != "" %}
              <i class="fa fa fa-thumbs-o-up"></i>  {{dept_likes}}
              {% endif %}
            </li>
            <li >
              {% if dept_checkins != "" %}
              <i class="fa fa fa-location-arrow"></i>  {{dept_checkins}}
              {% endif %}
            </li>
           </ul>
      </div>
  </div>
   <div class="jumbotron">
     <div class="container">

         <ul class="nav nav-tabs" id="myNavTabs">
          <li class="active" style="width:50%"><a class="text-center" data-toggle="pill" href="#home">Facebook</a></li>
          <li style="width:50%" id="menu1_li"><a class="text-center" data-toggle="pill" href="#menu1">Twitter</a></li>
         </ul>

       <div class="tab-content">
         <div id="home" class="tab-pane fade in active">
          <div id="facebook-handle-name" style="display:none">{{ facebook_handle }}</div>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <!-- <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2_1"> -->
                       Analytics <a href="#" title="Header" data-toggle="modal"  data-target="#fb-analytics-Modal"><i class="fa fa-question-circle " ></i>
                     <!-- </a>  -->

                       <div id="fb-analytics-Modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Analytics</h4>
                              <h6>An interactive multiseries visualisation that shows the number of posts, likes and comments over time</h6>
                            </div>
                            <div class="modal-body">
                              <p style="font-size=medium;">Analyse the posts on your page in terms of count, likes and comments. Features of this chart that you may like to be aware of are: </p>
                              <ul>
                                <li>Hovering over the graph shows you the date as well as the number of posts, likes and comments for that point in time</li>
                                <li>By selecting a series in the legend you can focus attention to a parameter of your choosing</li>
                                <li>Dragging the slider on the graph allows you to zoom and pan to specific into a specific interval</li>
                                <li>Compare your traffic with another police dept by clicking "Compare to"</li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>

                        </div>
                      </div>

                     </a>
                    </h4>
                 </div>
                 <div id="collapse2_1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="dropdown">
                      <button id="compare-to-1-facebook" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Compare to
                         <span class="caret"></span></button>
                         <ul class="dropdown-menu pull-right" style="height:400px; overflow:scroll">
                           {% autoescape off %}{{ compare_to_graph1_facebook }}{% endautoescape %}
                        </ul>
                     </div>
                     <!-- <span class="label label-info" style="float:right;margin-right:70px">Click legend to add/remove series</span> -->
                    <img id="graph1-fb-loader" src="{% static 'tool/img/ajax-loader.gif' %}" style="display:none">
                     <div id="graph1-facebook">
                        {% autoescape off %}{{ graph_facebook }}{% endautoescape %}
                     </div>
                     {% for only in graph_facebook_items %}
                        <div class="panel-group" style="margin-top:20px">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title" data-toggle="collapse" href="#collapse_{{ only.name }}" style="cursor:pointer;">
                              <i class="fa fa-angle-double-down " ></i> Only {{only.name}}
                              <a class="help-popover"href="#" data-toggle="popover"  data-trigger="hover" data-content="Specifically analyse the number of {{ only.name }} over time">
                                <i class="fa fa-question-circle " ></i>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse_{{ only.name }}" class="panel-collapse collapse">
                            {% autoescape off %}{{ only.graph }}{% endautoescape %}
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                  </div>
                  </div>
               </div>
               <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <!-- <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2_2"> -->
                       Accountability Tree <a href="#" title="Header" data-toggle="modal"  data-target="#fb-accountability-Modal"><i class="fa fa-question-circle " ></i>
                     <!-- </a>  -->
                    </a>
                    </h4>
                 </div>
                 <div id="collapse2_2" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="dropdown">
                      <button id="victimzn-facebook" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Keyword
                         <span class="caret"></span></button>
                         <ul class="dropdown-menu  pull-right" style="height:200px; overflow:scroll">
                           {% autoescape off %}{{ victimisation_facebook }}{% endautoescape %}
                        </ul>
                     </div>
                     <!-- <span class="label label-info" style="">Click a word to analyse specific branch</span> -->
                     <button id="fb-actual-posts-btn" type="button" class="btn btn-default" data-toggle="modal"  data-target="#fb-actual-posts-Modal" style="float:right; margin-right:10px">See actual posts</button>
                     <img id="graph2-fb-loader" src="{% static 'tool/img/ajax-loader.gif' %}" style="display:none">
                     <div id="victimzn-curr-key-facebook" style="display:none">{{ victim_current_key_facebook }}</div>
                     <div id="graph2-facebook">
                      {% autoescape off %}{{ graph_tree_facebook }}{% endautoescape %}
                     </div>
                  </div>
                  </div>
               </div>
               <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <!-- <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2_3"> -->
                       Word Cloud <a href="#" title="Header" data-toggle="modal"  data-target="#fb-cloud-Modal"><i class="fa fa-question-circle " ></i>
                     <!-- </a>  -->


                    </a>
                    </h4>
                 </div>
                 <div id="collapse2_3" class="panel-collapse collapse in">
                  <div class="panel-body">
                      <div class="container">
                        <div class="row">
                          <!-- <span class="label label-info" style="float: right;margin-right: 20px;">Change focus word on click</span> -->
                          <img id="graph3-fb-loader" src="{% static 'tool/img/ajax-loader.gif' %}" style="display:none">
                            <div class="col-xs-10">
                              <div id="graph3-facebook" style>
                                <div id="wordcloud_facebook"></div>
                                {% autoescape off %}{{ wordcloud_facebook }}{% endautoescape %}
                              </div>
                            </div>
                            <!-- <div class="col-xs-2">
                                <ul id="cloud-word-facebook" class="list-group" style="width:200px; height:400px; float:right; overflow:hidden; overflow-y:scroll;">
                                  {% autoescape off %}{{ wordcloud_facebook_list }}{% endautoescape %}
                                </ul>
                            </div> -->
                        </div>
                    </div>
                  </div>
                  </div>
               </div>
               <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <!-- <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2_3"> -->
                       Sentiment Analysis <a href="#" title="Header" data-toggle="modal"  data-target="#fb-sentiment-Modal"><i class="fa fa-question-circle " ></i>
                     <!-- </a>  -->


                    </a>
                    </h4>
                 </div>
	               <div id="collapse2_4" class="panel-collapse collapse in">
	                  <div class="panel-body">
	                      <div class="container">
	                        <div class="row">
	                          <!-- <span class="label label-info" style="float: right;margin-right: 20px;">Change focus word on click</span> -->
	                            <div id="senitment-analysis" style>
	                              <div id="sentiment_facebook"></div>
																	<div id="sentiment-container" class="visualization-container morris-chart"></div>
	                                  {% autoescape off %}{{ sentiment_count }}{% endautoescape %}
	                            </div>
	                        </div>
	                    </div>
	                  </div>
	                </div>
	              </div>
            </div>
         </div>
         <div id="menu1" class="tab-pane fade">
            <div id="twitter-handle-name" style="display:none">{{ twitter_handle }}</div>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> -->
                       Analytics <a href="#" title="Header" data-toggle="modal"  data-target="#tw-analytics-Modal"><i class="fa fa-question-circle " ></i>
                     <!-- </a>  -->

                       <div id="tw-analytics-Modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Analytics</h4>
                              <h6>An interactive multiseries visualisation that shows the number of tweets, retweets and favourites over time</h6>
                            </div>
                            <div class="modal-body">
                              <p style="font-size=medium;">Analyse the tweets, mentioning your handle, by your audience in terms of count, retweets and favourites. Features of this chart that you may like to be aware of are: </p>
                              <ul>
                                <li>Hovering over the graph shows you the date as well as the number of tweets, retweets and favourites for that point in time</li>
                                <li>By selecting a series in the legend you can focus attention to a parameter of your choosing</li>
                                <li>Dragging the slider on the graph allows you to zoom and pan to specific into a specific interval</li>
                                <li>Compare your audience traffic with another police dept by clicking "Compare to"</li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>

                        </div>
                      </div>

                     </a>
                    </h4>
                 </div>
                 <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                     <div class="dropdown">
                      <button id="compare-to-1-twitter" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Compare to
                         <span class="caret"></span></button>
                         <ul class="dropdown-menu  pull-right" style="height:400px; overflow:scroll">
                           {% autoescape off %}{{ compare_to_graph1_twitter }}{% endautoescape %}
                        </ul>
                     </div>
                     <!-- <span class="label label-info" style="float:right;margin-right:70px">Click legend to add/remove series</span> -->
                     <img id="graph1-tw-loader" src="{% static 'tool/img/ajax-loader.gif' %}" style="display:none">
                     <div id="graph1-twitter">
                        {% autoescape off %}{{ graph_tweets }}{% endautoescape %}
                        {% for only in graph_twitter_items %}
                        <div class="panel-group" style="margin-top:20px">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title" data-toggle="collapse" href="#collapse_{{ only.name }}">
                              <i class="fa fa-angle-double-down " ></i>
                              Only {{only.name}}
                              <a class="help-popover"href="#" data-toggle="popover"  data-trigger="hover" data-content="Specifically analyse the number of {{ only.name }} over time">
                              <i class="fa fa-question-circle " ></i>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse_{{ only.name }}" class="panel-collapse collapse">
                            {% autoescape off %}{{ only.graph }}{% endautoescape %}
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                     </div>
                   </div>
                  </div>
               </div>
               <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> -->
                       Accountability Tree <a href="#" title="Header" data-toggle="modal"  data-target="#fb-accountability-Modal"><i class="fa fa-question-circle " ></i>
                     <!-- </a>  -->
                     </a>
                    </h4>
                 </div>
                 <div id="collapse2" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="dropdown">
                      <button id="victimzn-twitter" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Keyword
                         <span class="caret"></span></button>
                         <ul class="dropdown-menu pull-right" style="height:200px; overflow:scroll">
                           {% autoescape off %}{{ victimisation_twitter }}{% endautoescape %}
                        </ul>
                     </div>
                     <!-- <span class="label label-info" style="">Click a word to analyse specific branch</span> -->
                     <button id="tw-actual-posts-btn" type="button" class="btn btn-default" data-toggle="modal"  data-target="#tw-actual-posts-Modal" style="float:right; margin-right:10px">See actual tweets</button>
                     <img id="graph2-tw-loader" src="{% static 'tool/img/ajax-loader.gif' %}" style="display:none">
                     <div id="victimzn-curr-key-twitter" style="display:none">{{ victim_current_key_twitter }}</div>
                     <div id="graph2-twitter">
                      {% autoescape off %}{{ graph_tree_twitter }}{% endautoescape %}
                     </div>
                   </div>
                  </div>
               </div>
               <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> -->
                       Word Cloud <a href="#" title="Header" data-toggle="modal"  data-target="#fb-cloud-Modal"><i class="fa fa-question-circle " ></i>
                     <!-- </a>  -->
                    </a>
                    </h4>
                 </div>
                 <div id="collapse3" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="container">
                        <div class="row">
                        <!-- <span class="label label-info" style="float: right;margin-right: 20px;">Change focus word on click</span> -->
                          <img id="graph3-tw-loader" src="{% static 'tool/img/ajax-loader.gif' %}" style="display:none">
                            <div class="col-xs-10">
                              <div id="graph3-twitter">
                                <div id="wordcloud_twitter"></div>
                                {% autoescape off %}{{ wordcloud_twitter }}{% endautoescape %}
                              </div>
                            </div>
                            <!-- <div class="col-xs-2">
                                <ul id="cloud-word-twitter" class="list-group" style="width:200px; height:400px; float:right; overflow:hidden; overflow-y:scroll;">
                                  {% autoescape off %}{{ wordcloud_twitter_list }}{% endautoescape %}
                                </ul>
                            </div> -->
                        </div>
                    </div>
                  </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
       <div id="fb-cloud-Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Word Cloud</h4>
              <h6>A graphical word cloud to represent the most frequently used terms</h6>
            </div>
            <div class="modal-body">
              <p style="font-size=medium;">Learn the posts are talking about most. Features of this cloud that you may like to be aware of are: </p>
              <ul>
                <li>The size of the word in the cloud is directly proportional to its frequency of occurrence in the posts</li>
                <li>Click any of these words to redraw the word cloud with posts containing only that word</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

      <div id="fb-sentiment-Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Sentiment</h4>
              <h6>A visualisation of to help you understand what is the polarity of your posts</h6>
            </div>
            <div class="modal-body">
              <p style="font-size=medium;">Learn what the polarity of your posts are. Features of this chart that you may like to be aware of are: </p>
              <ul>
                <li>Click any of the segments to lets you view all the posts in of that particular sentiment</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

      <div id="fb-accountability-Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Accountability Tree</h4>
              <h6>An interactive word tree to illustrate the use of certian keywords in the posts on your page.</h6>
            </div>
            <div class="modal-body">
              <p style="font-size=medium;">Understand what the trends in the content of posts on your page. Features of this tree that you may like to be aware of are: </p>
              <ul>
                <li>Clicking a word would focus the tree further into a specific branch</li>
                <li>Change the base word of the tree by clicking on "Change keyword"</li>
                <li>For more details, please look at our <a href="http://precog.iiitd.edu.in/Publications_files/Sachdeva_Social_DGO.pdf" target="_blank">research paper</a>.</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      <div id="tw-actual-posts-Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Actual Tweets</h4>
            </div>
            <div class="modal-body" id="tw-actual-posts-modal-body">
              <img src="{% static 'tool/img/ajax-loader.gif' %}" style="display:block">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
       <div id="fb-actual-posts-Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Actual Posts</h4>
            </div>
            <div class="modal-body" id="fb-actual-posts-modal-body">
              <img src="{% static 'tool/img/ajax-loader.gif' %}" style="display:block">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      <div id="sentiment-Modal" class="modal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Actual Posts</h4>
            </div>
            <div class="modal-body" id="sentiment-modal-body">

            </div>
            <div class="modal-footer">
              <img id="sentiment-modal-loader" src="{% static 'tool/img/ajax-loader.gif' %}" style="display:block">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
   </div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{% static 'tool/js/bootstrap.min.js' %}"></script>
<script src="{% static 'tool/js/basic_jq.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70120763-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-25699818-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
