<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
   <title>PoliceOSM</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap -->
   <link href="{% static 'tool/css/bootstrap.min.css' %}" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'tool/css/basic.css' %}">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />
   <script src="{% static 'tool/js/d3.min.js' %}"></script>
   <script src="{% static 'tool/js/m_graph.js' %}"></script>
   <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script> -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
   <script type="text/javascript">
     google.load("visualization", "1.1", {packages:["wordtree"]});
   </script>
</head>
<body>
   <div class="jumbotron">
     <div class="container">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pick Account
             <span class="caret"></span></button>
             <ul class="dropdown-menu" style="height:400px; overflow:scroll">
               {% autoescape off %}{{ pick_account }}{% endautoescape %}
            </ul>
         </div>

         <h2>{{ dashboard_name }}</h2>
         <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="pill" href="#home">Facebook</a></li>
          <li><a data-toggle="pill" href="#menu1">Twitter</a></li>
         </ul>

       <div class="tab-content">
         <div id="home" class="tab-pane fade in active">
          <div id="facebook-handle-name" style="display:none">{{ facebook_handle }}</div>
            <div class="panel-group" id="accordion2">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2_1">
                       Analytics</a>
                    </h4>
                 </div>
                 <div id="collapse2_1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="dropdown">
                      <button id="compare-to-1-facebook" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Compare to
                         <span class="caret"></span></button>
                         <ul class="dropdown-menu" style="height:400px; overflow:scroll">
                           {% autoescape off %}{{ compare_to_graph1_facebook }}{% endautoescape %}
                        </ul>
                     </div>
                    <img id="graph1-fb-loader" src="{% static 'tool/img/ajax-loader.gif' %}" style="display:none">
                     <div id="graph1-facebook">
                        {% autoescape off %}{{ graph_facebook }}{% endautoescape %}
                     </div>
                  </div>
                  </div>
               </div>
               <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2_2">
                       Victimisation Tree</a>
                    </h4>
                 </div>
                 <div id="collapse2_2" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="dropdown">
                      <button id="victimzn-facebook" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Keyword
                         <span class="caret"></span></button>
                         <ul class="dropdown-menu" style="height:100px; overflow:scroll">
                           {% autoescape off %}{{ victimisation_facebook }}{% endautoescape %}
                        </ul>
                     </div>
                     <img id="graph2-fb-loader" src="{% static 'tool/img/ajax-loader.gif' %}" style="display:none">
                     <div id="victimzn-curr-key-facebook" style="display:none">{{ victim_current_key_facebook }}</div>
                     <div id="graph2-facebook">
                      {% autoescape off %}{{ graph_tree_facebook }}{% endautoescape %}
                     </div>
                  </div>
                  </div>
               </div>
               <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2_3">
                       Word Cloud</a>
                    </h4>
                 </div>
                 <div id="collapse2_3" class="panel-collapse collapse">
                  <div class="panel-body">
                      <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                {% autoescape off %}{{ wordcloud_facebook }}{% endautoescape %}
                            </div>
                            <div class="col-xs-6">
                                <ul class="list-group" style="width:400px; height:400px; float:right; overflow:hidden; overflow-y:scroll;">
                                  {% autoescape off %}{{ wordcloud_facebook_list }}{% endautoescape %}
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="menu1" class="tab-pane fade">
            <div id="twitter-handle-name" style="display:none">{{ twitter_handle }}</div>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                       Analytics</a>
                    </h4>
                 </div>
                 <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                     <div class="dropdown">
                      <button id="compare-to-1-twitter" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Compare to
                         <span class="caret"></span></button>
                         <ul class="dropdown-menu" style="height:400px; overflow:scroll">
                           {% autoescape off %}{{ compare_to_graph1_twitter }}{% endautoescape %}
                        </ul>
                     </div>
                     <img id="graph1-tw-loader" src="{% static 'tool/img/ajax-loader.gif' %}" style="display:none">
                     <div id="graph1-twitter">
                        {% autoescape off %}{{ graph_tweets }}{% endautoescape %}
                     </div>
                   </div>
                  </div>
               </div>
               <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                       Victimisation Tree</a>
                    </h4>
                 </div>
                 <div id="collapse2" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="dropdown">
                      <button id="victimzn-twitter" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Keyword
                         <span class="caret"></span></button>
                         <ul class="dropdown-menu" style="height:100px; overflow:scroll">
                           {% autoescape off %}{{ victimisation_twitter }}{% endautoescape %}
                        </ul>
                     </div>
                     <img id="graph2-tw-loader" src="{% static 'tool/img/ajax-loader.gif' %}" style="display:none">
                     <div id="victimzn-curr-key-twitter" style="display:none">{{ victim_current_key_twitter }}</div>
                     <div id="graph2-twitter">
                      {% autoescape off %}{{ graph_tree_twitter }}{% endautoescape %}
                     </div>
                   </div>
                  </div>
               </div>
               <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                       Word Cloud</a>
                    </h4>
                 </div>
                 <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                {% autoescape off %}{{ wordcloud_twitter }}{% endautoescape %}
                            </div>
                            <div class="col-xs-6">
                                <ul class="list-group" style="width:400px; height:400px; float:right; overflow:hidden; overflow-y:scroll;">
                                  {% autoescape off %}{{ wordcloud_twitter_list }}{% endautoescape %}
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
   </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{% static 'tool/js/bootstrap.min.js' %}"></script>
<script src="{% static 'tool/js/basic_jq.js' %}"></script>
</body>
</html>