<!DOCTYPE html>
{% load staticfiles %}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Police OSN</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap -->
   <link href="{% static 'tool/css/bootstrap.min.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="{% static 'tool/css/basic.css' %}">
   <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['geochart']}]}"></script>
</head>
<body style="padding-top: 20px;">
	<div class="underlinemenu">
      <ul>
        <li><a href="../../../index.html" target="_self">Home</a></li>
        <li><a href="../../../research.html" target="_self">Research</a></li>
        <li><a href="../../../people.html" target="_self">People</a></li>
        <li><a href="../../../publications.html" target="_self">Publications</a></li>
        <li><a href="../../../resources.html" target="_self">Resources</a></li>
        <li><a href="../../../teaching.html" target="_self">Teaching</a></li>
        <li><a href="../../../events.html" target="_self">Events</a></li>
        <li><a href="../../../news.html" target="_self">News</a></li>
        <li><a href="../../../blog" target="_self">Blog</a></li>
      </ul>
    </div>
<!-- 	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Police OSN</a>
	      <p class="navbar-text">Analysing social presence of Police departments all over India</p>
	    </div>
	</div>
	</nav> -->
	<div class="jumbotron" style="margin-top:20px">
		<div class="container" style="margin-bottom:20px;">
			<div id="regions_div" style="height:400px;"></div>
		</div>
		<div class="container">
         	<div class="tab-content">
        		<div id="home" class="tab-pane fade in active">
        			{% for dept in police_dept_items %}
		            <div class="col-md-4 col-sm-6 hero-feature" data-state="{{dept.state}}">
		            	<a href={{dept.dashlink}} style="text-decoration:none;" data-toggle="tooltip" data-placement="left" title="Analyse">
		                <div class="thumbnail">
		                	<div class="image-container" style="height:120px;">
		                    	<img src="{{dept.cover}}" style="max-width: 100%;height: auto; position: absolute; clip: rect(0px,340px,126px,0px);" alt="" >
		                    </div>
		                    <div class="caption" style="width:90%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
		                        <h3 style="font-size:18px">{{dept.name}}</h3>
		                        <ul class="fa-ul">
		                        	<li>
		                        		<i class="fa fa-facebook-official"></i>  <a class="fb-name" href={{dept.link}} target="_blank">{{dept.fb_name}}</a>
		                        	</li>
		                  			<li >
		                  				<i class="fa fa fa-external-link"></i>  <a href={{dept.website}} target="_blank">{{dept.website}}</a>
		                  			</li>
		                  			<li >
		                  				<i class="fa fa fa-twitter"></i>  <a href={{dept.tw_link}} target="_blank">{{dept.twitter}}</a>
		                  			</li>
		                         </ul>                          
		                    </div>
		                </div>
		                </a>
		            </div>
		            {% endfor %}
				</div>
			</div>
		</div>
		<button id="refresh-btn" type="button" class="btn btn-default btn-circle btn-lg" style="display:block;margin-left:auto;margin-right:auto"><i class="fa fa-refresh"></i></button>
	</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{% static 'tool/js/bootstrap.min.js' %}"></script>
<script src="{% static 'tool/js/m_map.js' %}"></script>
</body>
</html>